*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
.container{
    overflow-x:hidden ;
    overflow-y: auto;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 20%  80%;
    grid-template-rows: 10% 90%;
}
.title{
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}
.title h1{
    border:none;
    background-color: #E57C23;
    padding:5px;
}

.sidebar{
    
    display: grid;
    background-color:#025464;
    
    
}
.sidebar a{
    margin:20px auto ;
    background-color: #E57C23;
    text-align: center;
    height: fit-content;
    padding:10px; 
    color:black;
    font-weight: bold;
    cursor:pointer;
    user-select: none;
}
.main{
    background-color: #E57C23;
    padding:40px ; 
}
.form {
    border:3px dashed black ;
    height: 100%;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
label{
    font-weight: bold;
}
